<ul class="nav nav-pills">
    <li><a><b>{{data.sports[sport].name}}:</b></a></li>
    <li ng-repeat="league in data.sports[sport].leagues"><a href="" ng-click="selectLeague($index)">{{league.name}}</a></li>
</ul>
        <div class="col-md-4">
            <h3>Teams</h3>
            <ul class="list-unstyled">
                <li ng-repeat="team in data.sports[sport].leagues[league].teams"><a href="" ng-click="selectTeam($index)">{{team.name}}</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Squad</h3>
            <ul class="list-unstyled">
                <li ng-repeat="player in data.sports[sport].leagues[league].teams[team].squad">
                    <a href="" ng-click="selectPlayer($index)">{{player.fname}} {{player.lname}}</a>
                </li>
            </ul>
        </div>